.jumbotron {
    
    text-align: center;
    background-image: url(../images/map1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 340px;
}

body {
    background-color: #B30101;
}

#timer {
    text-align: center;
    color: white;
    width: 100%;
    letter-spacing: 1px;
}

.left {
    background-color: #0496E4;
    height: 260px;
    text-align: center;
    margin-right: 30px;
}
 .right {
     background-color: #74EE84;
     height:260px;
    text-align: center;
    width: 350px;
    background-image: url(../images/pad1.png);
    color: white;
 }

 .rounded {
  border-radius: 5px;
}

h3 {
    text-decoration: underline;
    margin-top: 10px;
}

.btn {
    text-align: center;
    margin-top: 300px;
    text-align: center;
}

.countdownHolder{
    width:450px;
    margin:0 auto;
    font: 40px/1.5 'Open Sans Condensed',sans-serif;
    text-align:center;
    letter-spacing:-3px;
}

.position{
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
}

.digit{
    position:absolute;
    display:block;
    width:1em;
    background-color:#444;
    border-radius:0.2em;
    text-align:center;
    color:#fff;
    letter-spacing:-1px;
}

.digit.static{
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
    
    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, #3A3A3A),
        color-stop(0.5, #444444)
    );
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
    display:inline-block;
    width:16px;
    height:1.6em;
    position:relative;
}

.countDiv:before,
.countDiv:after{
    position:absolute;
    width:5px;
    height:5px;
    background-color:#444;
    border-radius:50%;
    left:50%;
    margin-left:-3px;
    top:0.5em;
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
    content:'';
}

.countDiv:after{
    top:0.9em;
}

#note{
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
}

#mapid { 
	height: 400px;
	width: 100%; 
}

/*.marker{
	color: transparent;

}*/

.marker:hover { 
    color: yellow;
    z-index: 100;
    width:200px;
	height: 200px;
    white-space: nowrap;
    text-align: center;
    text-shadow: 1px 1px black;



}



h5 {position: relative;
	bottom: 10px;
	text-align: center;
	display: none;
	z-index: 100;


}
.marker:hover h5{display: inline;}