.jumbotron {
    
    text-align: center;
    background-image: url(../images/map1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 340px;
}


.forms {
    width: 100%;
    background-color: black;
}

body {
    background-color: #B30101;
}


#timer {
    text-align: center;
    color: white;
    width: 100%;
    letter-spacing: 1px;
}

.left {

    background-color: white;
    height: 260px;
    text-align: center;
    
}



.middle {
    height: 260px;
    text-align: center;


}

 .right {
    padding-left: 20px;
    background-color: white;
    height:260px;
    text-align: center;
    color: black;
    background-image: url(../images/pad1.png);
    background-image: ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: auto;
 }

 .rounded {
  border-radius: 5px;
}
/*.rounded: hover{
  z-index: 100;
  width:200px;
  height: 200px;  
}*/

h3 {
    text-decoration: underline;
    margin-top: 10px;
}

.btn {
    text-align: center;
/*    margin-top: 300px;*/
    text-align: center;
}

.titlePage{
    width: 100%;
    height: 440px;
    text-align: center;

}

.countdownHolder{
    width:450px;
    margin:0 auto;

    font: 30px/1.5 'Open Sans Condensed',sans-serif;
    text-align:center;
    letter-spacing:-3px;
}

.position{
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
}

.digit{
    position:absolute;
    display:block;
    width:1em;
    background-color:#444;
    border-radius:0.2em;
    text-align:center;
    color:#fff;
    letter-spacing:-1px;
}

.digit.static{
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
    
    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, #3A3A3A),
        color-stop(0.5, #444444)
    );
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
    display:inline-block;
    width:16px;
    height:1.6em;
    position:relative;
}

.countDiv:before,
.countDiv:after{
    position:absolute;
    width:5px;
    height:5px;
    background-color:#444;
    border-radius:50%;
    left:50%;
    margin-left:-3px;
    top:0.5em;
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
    content:'';
}

.countDiv:after{
    top:0.9em;
}

#note{
    width: 100%;

    font-size: 22px;

    letter-spacing: 1px;
}

#mapid { 
  height: 400px;
  width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

/*.marker{
  color: transparent;

}*/

.marker:hover { 
    color: yellow;
    z-index: 100;
    width:200px;
  height: 200px;
    white-space: nowrap;
    text-align: center;
    text-shadow: 1px 1px black;



}



h5 {position: relative;
  bottom: 10px;
  text-align: center;
  display: none;
  z-index: 100;
}
.marker:hover h5{display: block;}

.load2Title {
    border: 4px solid black;
    background-color: white;
    margin-top: 40px;
    font-weight: bold;
    color: #3A3A3A;
}

.load2Title2 {
    border: 4px solid black;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3A3A3A;
}

.buttonsNew {
    text-align: center;
    margin-top: -70px;
}


.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;
overflow: visible;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: matrix(4.5, 0, 0, 4.5, 12, 0) /*scale(2.5)*/;    
-moz-transform: matrix(4.5, 0, 0, 4.5, 12, 0)/*scale(2.5)*/;  
-webkit-transform: matrix(4.5, 0, 0, 4.5, 12, 0)/*scale(2.5)*/;  
-o-transform: matrix(4.5, 0, 0, 4.5, 12, 0)/*scale(2.5)*/;  
transform: matrix(4.5, 0, 0, 4.5, 12, 0)/*scale(2.5)*/;    
position:relative; 
overflow: visible;
z-index:  2147483647;       

}


/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 768px) {   
ul.gallery {      
margin-left: 15vw;       
margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}

.form {
    margin-left: 300px;
    margin-right: 300px;
}




.css-typing p{
  font-family: "Courier";
  font-size: 14px;
  width: 50em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 3s steps(80, end);
  animation: type 3s steps(80, end);
}

.css-typing p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 3s steps(80, end);
  animation: type2 3s steps(80, end);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 3s steps(80, end);
  animation: type3 3s steps(80, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

span {
  animation: blink 1s infinite;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.main {
    
    display: none;
}

.test1 {
  display: none;
}

.test2 {
  display: block;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.btn a{
  text-decoration: none;
}

.box1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.prevImage{
position:absolute; 
overflow: visible;
z-index:  2147483647;   
}

.slideshow-container{
  text-align: center;
}

.bottom{
  position: absolute;
  bottom: 20px;
}

.carlosGuy{
  z-index: 1000;
  position: relative;
  bottom: 250px;
/*  left: 800px;*/
  height: 250px;
}

/*#carlos{
    display: none;
}*/

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.border{
  border: 8px solid black;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: black transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: lightyellow transparent transparent transparent;
}

.copImage {
  height: 280px;
  margin-top: 20px;
}
