.jumbotron {
	
	text-align: center;
	background-image: url(../images/map1.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
	height: 340px;
}



.timer {
	text-align: center;
}

.left {
	background-color: #0496E4;
	height: 260px;
	text-align: center;
	margin-right: 30px;
}
 .right {
 	background-color: #74EE84;
 	height:260px;
	text-align: center;
	width: 350px;
 }

 .rounded {
  border-radius: 5px;
}

h3 {
	text-decoration: underline;
	margin-top: 10px;
}

